<!DOCTYPE html>
<html>
    <head>
        <title>To Do</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap core CSS -->
        <link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static',filename='bootstrap/css/font-awesome.min.css')}}" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <style>
          body {
            padding-top: 54px;
          }
          @media (min-width: 992px) {
            body {
              padding-top: 56px;
            }
          }

        </style>
    </head>

    <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">HSRC Student Login</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      <div class = "container">

			<div class="jumbotron">
				<h1>WELCOME {{ data.firstName }}! Please fill out the entire application.</h1>
				<h6>Once you are done, click 'Submit'</h6>
		    	<p>LACC’s mission is to empower the Latino Community through education, advocacy, partnerships and exceptional services.  Our vision is to eliminate the achievement gap for Latinos in Delaware.  LACC offers educational services for youth and their families including early development care, before and after school programs, siummer camp, high school credit recovert and recognition programs for middle and high school students, as well as adult eduation (i.e. ESL).</p>
			</div>
        <!-- <div class = "container text-center">
          {% block body %}
          <p>
            Continue your application!!!
          </p>
          <form action="/save" method="POST">
            <input type="text" name="firstName" value= {{ data.firstName }}><br>
            <input type="text" name="lastName" value= {{ data.lastName }}><br>
            <input type="text" name="phoneNumber" value= {{ data.phoneNumber }}><br>
            <input type="text" name="email" value= {{ data.email }}><br>
            <input type="submit" value="Save Application">
          </form>
          {% endblock %}
        </div> -->



    				 <form>
						<div>
	      					<div class="form-group">
      							<label for="firstName">First Name</label>
      							<input type="text" class="form-control" id="firstName" placeholder="Enter First Name" required="true">
      						</div>
						</div>
						<div>
  							<div class="form-group">
  								<label for="lastName">Last Name</label>
  								<input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" required="true">
  							</div>
						</div>

  						<div>
  							<div class="form-group">
  		  				    	<label for="phoneNumber">Phone Number</label>
  		  				    	<input type="text" class="form-control" id="phoneNumber" placeholder="123-456-7890" required="true">
  		  					</div>
  						</div>

  						<div>
  							<div class="form-group">
  								<label for="inputEmail">Email address</label>
  						    	<input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
  						    	<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  							</div>
  						</div>
    					<div class="form-group">
    					    <label for="isLatino">Hispanic/Latino?</label>
    					    <select class="form-control" id="isLatino">

        					    <option>Yes</option>
        					    <option>No</option>
    						   </select>
    					</div>
    					<div class="form-group">
    	  				    <label for="whyLatino">Why?</label>
    	  				    <input type="text" class="form-control" id="whyLatino" placeholder="Enter information here">
    	  				</div>

        				<div class="form-group">
        					<label for="comment">Personal Statement:</label>
        					<textarea class="form-control" rows="5" id="comment"></textarea>
        				</div>

          			<button type="submit" class="btn btn-primary">Submit</button>
          		</form>
	        </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src = "{{ url_for('static', filename='jquery/jquery.min.js')}}"></script>
    <script src = "{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>

    </body>
</html>
