<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        background-color: lightgrey;
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body BGCOLOR="grey" >

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">HSRC New User Registration</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
        <font color="red">
          <h1 class="mt-5" >HSRC New User Registration</h1>
          </font>
          <p class="lead">Please register to create or review applications.</p>
          <!-- <ul class="list-unstyled">
            <li>Bootstrap 4.0.0-beta</li>
            <li>jQuery 3.2.1</li>
          </ul> -->
        </div>
      </div>
    </div>

    <div class = "container text-center">
      {% block body %}
      <form action="/save" method="POST">
        <input type="username" name="username" placeholder="Username">
        <br />
        <input type="password" name="password" placeholder="Password">
        <br />
        <input type="text" name="firstName" placeholder="First Name">
        <br />
        <input type="text" name="phoneNumber" placeholder="000-000-0000">
        <br />
        <input type="text" name="lastName" placeholder="Last Name">
        <br />
        <input type="text" name="email" placeholder="E-Mail">
        <br />
        <input type="radio" name="userType" value="student" checked> Student<br>
        <input type="radio" name="userType" value="grader"> Grader<br>
        <input type="radio" name="userType" value="nominator"> Nominator
        <br />
          <input type="checkbox" name="category" value="Atheletics" > Athletics
          <input type="checkbox" name="category" value="Science"> Science
          <input type="checkbox" name="category" value="Arts"> Arts
          <input type="checkbox" name="category" value="Service"> Service
          <input type="checkbox" name="category" value="Academics"> Academics
        <br />
        <input type="submit" value="Register">
      </form>
      {% endblock %}
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src = "{{ url_for('static', filename='jquery/jquery.min.js')}}"></script>
    <script src = "{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>


  </body>

</html>
